In [1]:
import pandas

In [2]:
pandas.read_csv("data/medicaldata_tumorgrowth.csv")

       Grp  Group   ID  Day    Size
0    1.CTR      1  101    0    41.8
1    1.CTR      1  101    3    85.0
2    1.CTR      1  101    4   114.0
3    1.CTR      1  101    5   162.3
4    1.CTR      1  101    6   178.3
..     ...    ...  ...  ...     ...
569  4.D+R      4  409   19   940.6
570  4.D+R      4  409   20  1057.0
571  4.D+R      4  409   21  1107.6
572  4.D+R      4  409   24  1694.2
573  4.D+R      4  409   25  1423.6

[574 rows x 5 columns]

In [3]:
import pandas as pd

In [4]:
pd.read_csv("data/medicaldata_tumorgrowth.csv")

       Grp  Group   ID  Day    Size
0    1.CTR      1  101    0    41.8
1    1.CTR      1  101    3    85.0
2    1.CTR      1  101    4   114.0
3    1.CTR      1  101    5   162.3
4    1.CTR      1  101    6   178.3
..     ...    ...  ...  ...     ...
569  4.D+R      4  409   19   940.6
570  4.D+R      4  409   20  1057.0
571  4.D+R      4  409   21  1107.6
572  4.D+R      4  409   24  1694.2
573  4.D+R      4  409   25  1423.6

[574 rows x 5 columns]

In [5]:
tumor = pd.read_csv("data/medicaldata_tumorgrowth.csv")

In [6]:
tumor

       Grp  Group   ID  Day    Size
0    1.CTR      1  101    0    41.8
1    1.CTR      1  101    3    85.0
2    1.CTR      1  101    4   114.0
3    1.CTR      1  101    5   162.3
4    1.CTR      1  101    6   178.3
..     ...    ...  ...  ...     ...
569  4.D+R      4  409   19   940.6
570  4.D+R      4  409   20  1057.0
571  4.D+R      4  409   21  1107.6
572  4.D+R      4  409   24  1694.2
573  4.D+R      4  409   25  1423.6

[574 rows x 5 columns]

In [7]:
tumor_xl = pd.read_excel("data/medicaldata_tumorgrowth.xlsx")

C:\Users\Danie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
tumor_xl

       Grp  Group   ID  Day    Size
0    1.CTR      1  101    0    41.8
1    1.CTR      1  101    3    85.0
2    1.CTR      1  101    4   114.0
3    1.CTR      1  101    5   162.3
4    1.CTR      1  101    6   178.3
..     ...    ...  ...  ...     ...
569  4.D+R      4  409   19   940.6
570  4.D+R      4  409   20  1057.0
571  4.D+R      4  409   21  1107.6
572  4.D+R      4  409   24  1694.2
573  4.D+R      4  409   25  1423.6

[574 rows x 5 columns]

In [9]:
type(tumor_xl)

pandas.core.frame.DataFrame

In [10]:
type(tumor)

pandas.core.frame.DataFrame

In [11]:
tumor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Grp     574 non-null    object
 1   Group   574 non-null    int64
 2   ID      574 non-null    int64
 3   Day     574 non-null    int64
 4   Size    574 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 22.5+ KB

In [12]:
tumor.shape

(574, 5)

In [13]:
tumor.shape()

TypeError: 'tuple' object is not callable

In [15]:
tumor["Size"]

0        41.8
1        85.0
2       114.0
3       162.3
4       178.3
        ...
569     940.6
570    1057.0
571    1107.6
572    1694.2
573    1423.6
Name: Size, Length: 574, dtype: float64

In [16]:
tumor[["Group", "Day", "Size"]]

     Group  Day    Size
0        1    0    41.8
1        1    3    85.0
2        1    4   114.0
3        1    5   162.3
4        1    6   178.3
..     ...  ...     ...
569      4   19   940.6
570      4   20  1057.0
571      4   21  1107.6
572      4   24  1694.2
573      4   25  1423.6

[574 rows x 3 columns]

In [17]:
type(tumor["Size"])

pandas.core.series.Series

In [18]:
tumor[["Size"]]

       Size
0      41.8
1      85.0
2     114.0
3     162.3
4     178.3
..      ...
569   940.6
570  1057.0
571  1107.6
572  1694.2
573  1423.6

[574 rows x 1 columns]

In [20]:
tumor.loc[tumor["Group"] == 1]

      Grp  Group   ID  Day    Size
0   1.CTR      1  101    0    41.8
1   1.CTR      1  101    3    85.0
2   1.CTR      1  101    4   114.0
3   1.CTR      1  101    5   162.3
4   1.CTR      1  101    6   178.3
..    ...    ...  ...  ...     ...
92  1.CTR      1  108    6   484.9
93  1.CTR      1  108    7   584.5
94  1.CTR      1  108   11  1581.9
95  1.CTR      1  108   12  1930.6
96  1.CTR      1  108   13  2295.9

[97 rows x 5 columns]

In [22]:
tumor.loc[(tumor["Group"] == 1) & (tumor["Day"] == 0)]

      Grp  Group   ID  Day  Size
0   1.CTR      1  101    0  41.8
16  1.CTR      1  102    0  79.4
32  1.CTR      1  103    0  44.8
44  1.CTR      1  104    0  67.7
57  1.CTR      1  105    0  54.7
68  1.CTR      1  106    0  60.0
81  1.CTR      1  107    0  46.8
89  1.CTR      1  108    0  49.4

In [23]:
tumor.loc[(tumor["Day"] == 0) | (tumor["Day"] == 13)]

       Grp  Group   ID  Day    Size
0    1.CTR      1  101    0    41.8
9    1.CTR      1  101   13  1030.4
16   1.CTR      1  102    0    79.4
25   1.CTR      1  102   13   618.8
32   1.CTR      1  103    0    44.8
44   1.CTR      1  104    0    67.7
57   1.CTR      1  105    0    54.7
66   1.CTR      1  105   13  1699.3
68   1.CTR      1  106    0    60.0
81   1.CTR      1  107    0    46.8
88   1.CTR      1  107   13  2342.6
89   1.CTR      1  108    0    49.4
96   1.CTR      1  108   13  2295.9
97     2.D      2  201    0    49.1
106    2.D      2  201   13   455.5
116    2.D      2  202    0    60.6
131    2.D      2  203    0    41.5
147    2.D      2  204    0    46.8
162    2.D      2  205    0    39.5
171    2.D      2  205   13   552.5
178    2.D      2  206    0    53.5
196    2.D      2  207    0    43.5
205    2.D      2  207   13    62.4
215    2.D      2  208    0    64.4
230    2.D      2  209    0    47.5
249    2.D      2  210    0    71.7
258    2.D      2  210   13   743.5
268    3.R      3  301    0    44.1
277    3.R      3  301   13  2058.7
278    3.R      3  302    0    42.1
287    3.R      3  302   13   589.5
298    3.R      3  303    0    42.5
307    3.R      3  303   13   442.4
318    3.R      3  304    0    56.9
327    3.R      3  304   13  1066.4
330    3.R      3  305    0    46.7
339    3.R      3  305   13   455.3
349    3.R      3  306    0    51.2
358    3.R      3  306   13  1177.5
363    3.R      3  307    0    44.0
372    3.R      3  307   13   651.8
380    3.R      3  308    0    59.8
387    3.R      3  308   13   956.9
389    3.R      3  309    0    40.7
398    3.R      3  309   13   565.4
410    3.R      3  310    0    58.2
419    3.R      3  310   13  1372.7
429  4.D+R      4  401    0    41.3
445  4.D+R      4  402    0    53.5
451  4.D+R      4  403    0    45.8
460  4.D+R      4  403   13   624.1
471  4.D+R      4  404    0    48.2
490  4.D+R      4  405    0    47.7
499  4.D+R      4  405   13   527.1
511  4.D+R      4  406    0    69.2
518  4.D+R      4  406   13  1227.7
524  4.D+R      4  407    0    43.9
541  4.D+R      4  408    0    59.3
558  4.D+R      4  409    0    51.1
566  4.D+R      4  409   13   691.4

In [24]:
tumor.loc[(tumor["Day"] == 0) | (tumor["Day"] == 13)][["Group", "Day", "Size"]]

     Group  Day    Size
0        1    0    41.8
9        1   13  1030.4
16       1    0    79.4
25       1   13   618.8
32       1    0    44.8
44       1    0    67.7
57       1    0    54.7
66       1   13  1699.3
68       1    0    60.0
81       1    0    46.8
88       1   13  2342.6
89       1    0    49.4
96       1   13  2295.9
97       2    0    49.1
106      2   13   455.5
116      2    0    60.6
131      2    0    41.5
147      2    0    46.8
162      2    0    39.5
171      2   13   552.5
178      2    0    53.5
196      2    0    43.5
205      2   13    62.4
215      2    0    64.4
230      2    0    47.5
249      2    0    71.7
258      2   13   743.5
268      3    0    44.1
277      3   13  2058.7
278      3    0    42.1
287      3   13   589.5
298      3    0    42.5
307      3   13   442.4
318      3    0    56.9
327      3   13  1066.4
330      3    0    46.7
339      3   13   455.3
349      3    0    51.2
358      3   13  1177.5
363      3    0    44.0
372      3   13   651.8
380      3    0    59.8
387      3   13   956.9
389      3    0    40.7
398      3   13   565.4
410      3    0    58.2
419      3   13  1372.7
429      4    0    41.3
445      4    0    53.5
451      4    0    45.8
460      4   13   624.1
471      4    0    48.2
490      4    0    47.7
499      4   13   527.1
511      4    0    69.2
518      4   13  1227.7
524      4    0    43.9
541      4    0    59.3
558      4    0    51.1
566      4   13   691.4

In [25]:
(tumor
 .loc[(tumor["Day"] == 0) | (tumor["Day"] == 13)]
 [["Group", "Day", "Size"]]
)

     Group  Day    Size
0        1    0    41.8
9        1   13  1030.4
16       1    0    79.4
25       1   13   618.8
32       1    0    44.8
44       1    0    67.7
57       1    0    54.7
66       1   13  1699.3
68       1    0    60.0
81       1    0    46.8
88       1   13  2342.6
89       1    0    49.4
96       1   13  2295.9
97       2    0    49.1
106      2   13   455.5
116      2    0    60.6
131      2    0    41.5
147      2    0    46.8
162      2    0    39.5
171      2   13   552.5
178      2    0    53.5
196      2    0    43.5
205      2   13    62.4
215      2    0    64.4
230      2    0    47.5
249      2    0    71.7
258      2   13   743.5
268      3    0    44.1
277      3   13  2058.7
278      3    0    42.1
287      3   13   589.5
298      3    0    42.5
307      3   13   442.4
318      3    0    56.9
327      3   13  1066.4
330      3    0    46.7
339      3   13   455.3
349      3    0    51.2
358      3   13  1177.5
363      3    0    44.0
372      3   13   651.8
380      3    0    59.8
387      3   13   956.9
389      3    0    40.7
398      3   13   565.4
410      3    0    58.2
419      3   13  1372.7
429      4    0    41.3
445      4    0    53.5
451      4    0    45.8
460      4   13   624.1
471      4    0    48.2
490      4    0    47.7
499      4   13   527.1
511      4    0    69.2
518      4   13  1227.7
524      4    0    43.9
541      4    0    59.3
558      4    0    51.1
566      4   13   691.4

In [27]:
tumor.loc[tumor["Size"] > 2000, ["Group", "Day", "Size"]]

     Group  Day    Size
43       1   15  2405.7
67       1   14  2162.8
80       1   16  2125.1
88       1   13  2342.6
96       1   13  2295.9
130      2   22  2046.7
248      2   25  2269.3
267      2   27  2114.6
277      3   13  2058.7
297      3   28  2362.4
348      3   27  2157.4
362      3   20  2159.6
428      3   24  2188.7
523      4   22  2343.0

In [29]:
filtered = tumor.loc[(tumor["Day"] == 0) | (tumor["Day"] == 13), ["Group", "ID", "Day", "Size"]]

In [30]:
filtered

     Group   ID  Day    Size
0        1  101    0    41.8
9        1  101   13  1030.4
16       1  102    0    79.4
25       1  102   13   618.8
32       1  103    0    44.8
44       1  104    0    67.7
57       1  105    0    54.7
66       1  105   13  1699.3
68       1  106    0    60.0
81       1  107    0    46.8
88       1  107   13  2342.6
89       1  108    0    49.4
96       1  108   13  2295.9
97       2  201    0    49.1
106      2  201   13   455.5
116      2  202    0    60.6
131      2  203    0    41.5
147      2  204    0    46.8
162      2  205    0    39.5
171      2  205   13   552.5
178      2  206    0    53.5
196      2  207    0    43.5
205      2  207   13    62.4
215      2  208    0    64.4
230      2  209    0    47.5
249      2  210    0    71.7
258      2  210   13   743.5
268      3  301    0    44.1
277      3  301   13  2058.7
278      3  302    0    42.1
287      3  302   13   589.5
298      3  303    0    42.5
307      3  303   13   442.4
318      3  304    0    56.9
327      3  304   13  1066.4
330      3  305    0    46.7
339      3  305   13   455.3
349      3  306    0    51.2
358      3  306   13  1177.5
363      3  307    0    44.0
372      3  307   13   651.8
380      3  308    0    59.8
387      3  308   13   956.9
389      3  309    0    40.7
398      3  309   13   565.4
410      3  310    0    58.2
419      3  310   13  1372.7
429      4  401    0    41.3
445      4  402    0    53.5
451      4  403    0    45.8
460      4  403   13   624.1
471      4  404    0    48.2
490      4  405    0    47.7
499      4  405   13   527.1
511      4  406    0    69.2
518      4  406   13  1227.7
524      4  407    0    43.9
541      4  408    0    59.3
558      4  409    0    51.1
566      4  409   13   691.4

In [32]:
filtered.to_csv("data/tumor_filtered_py.csv")