In [4]:
import pandas as pd

In [5]:
tumor = pd.read_excel("data/medicaldata_tumorgrowth.xlsx")

C:\Users\Danie\anaconda3\envs\ds4biomed\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
tumor

       Grp  Group     ID   Day    Size
0    1.CTR    1.0  101.0   0.0    41.8
1    1.CTR    1.0  101.0   3.0    85.0
2    1.CTR    1.0  101.0   4.0   114.0
3    1.CTR    1.0  101.0   5.0   162.3
4    1.CTR    1.0  101.0   6.0   178.3
..     ...    ...    ...   ...     ...
569  4.D+R    4.0  409.0  19.0   940.6
570  4.D+R    4.0  409.0  20.0  1057.0
571  4.D+R    4.0  409.0  21.0  1107.6
572  4.D+R    4.0  409.0  24.0  1694.2
573  4.D+R    4.0  409.0  25.0  1423.6

[574 rows x 5 columns]

In [10]:
(tumor
 .loc[tumor["Day"] == 21]
 .groupby("Group")
 .agg(avg = ("Size", "mean"))
 .reset_index()
)

   Group          avg
0    1.0  1563.850000
1    2.0  1109.650000
2    3.0  1003.916667
3    4.0   926.700000